@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.card {
  width: 45%;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

.cardContainer {
  color: black; /* Make the text color black */
  font-family: "Roboto", sans-serif; /* Use the custom font */
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: rgb(145, 151, 238);
  padding: 10px;
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-size: 5px;
}

.courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 20px); /* Subtract 20px from the maximum width */
}

.namePronouns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.blurbs {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 700;
}

.textIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  float: right;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardContainer img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.profileCourses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
